<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/tailwind.css')}}">
    <title>PDQ Scraper</title>
</head>

<body>
    <div class="mt-11">
        <div class="justify-center">
            <div>
                <h1 class="text-blue-600 text-center text-3xl">Vulnerable PDQ Carwasher Scraper</h1>
            </div>
            <div class="mx-auto">
                <form name="api-form">
                    <label>Shodan API Key</label>
                    <input class="appearance-none block w-full bg-gray-200 border focus:border-gray-500 rounded-sm h-8"
                        type="text" name="api-key-input" placeholder="1234567890">
                </form>
            </div>
        </div>
    </div>

</body>

</html>